<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it express</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
  <div id="container">
    <h1>List of Memes</h1>
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Submitted By</th>
        <th>Is Spicy</th>
        <th>Score</th>
      </tr>

      <% for(var i = 0; i < memes.length; i++) { %>
      <tr>
        <td><a href="/detail/<%= memes[i]._id %>"><%= memes[i].title %></a></td>
        <td><%= memes[i].submittedBy %></td>
        <td><%= memes[i].isSpicy %></td>
        <td><%= memes[i].scoreAverage %></td>
      </tr>      
      <% } %>

    </table>    

    <a href="/add"><button class="btn btn-primary">Add Meme</button></a>

  </div>

    <script src="/script.js"></script>
  </body>
</html>